<div class="blog-card">
	{% for image in article.images|slice(0, 1) %}
		<div class="blog-card-img">
			<a href="{{path('app.articles.show', {slug: article.slug})}}">
				<img src="{{ vich_uploader_asset(image) }}" alt="article.title" loading="lazy">
			</a>
		</div>
	{% endfor %}

	<div class="blog-card-content">
		<p>
			<i class="bi bi-calendar2-week-fill"></i>
			{{article.createdAt|format_datetime('short', 'none', locale='fr')}}</p>
		<a href="{{path('app.articles.show', {slug: article.slug})}}">
			<h2 class="blog-card-header">{{ article.title|slice(0, 20) ~ '...'}}</h2>
		</a>

		<p>
			{% for categorie in article.categories %}
				#{{categorie.title}}</p>
		{% endfor %}

		<p>
			<strong>Description :
			</strong>
			{{article.description|striptags|slice(0, 150) ~ '...'}}</p>
		<p>
			<strong>Auteur :
			</strong>
			{{ article.user.fullName() }}</p>

		{# {{dump(app.request.get('_route'))}} #}
		{% if app.request.get('_route') == 'admin.articles.index' %}

			<div class="form-check form-switch">
				<input class="form-check-input" type="checkbox" id="switch-visibility-article-{{ article.id }}" {{ article.enable ? 'checked' }} data-switch-article="{{ article.id }}"/>
				<label class="form-check-label" for="switch-visibility-article-{{ article.id }}">{{ article.enable ? 'Actif' : 'Non actif' }}</label>
			</div>

			<div class="blog-card-btn">
				<a href="{{ path('admin.articles.edit', {slug: article.slug}) }}" class="btn btn-warning">
					<i class="bi bi-pencil-square"></i>Modifier</a>

				{% include "Backend/Articles/_deleteForm.html.twig" %}
			</div>
		{% endif %}
	</div>
</div>
