{% extends "base.html.twig" %}

{% block title %}
	Modification d'un article
	{{parent()}}
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	{{encore_entry_link_tags('admin')}}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{encore_entry_script_tags('admin')}}
{% endblock %}

{% block body %}
	<section class="container mt-2">
		<h1 class="text-center">Modification d'un article</h1>
		{% include "Backend/Articles/_form.html.twig" with {labelButton: 'Modifier'} %}

		<a href="{{ path('admin.articles.index') }}" class="btn btn-secondary">Retour à la liste</a>
	</section>
{% endblock %}
