{% extends "base.html.twig" %}

{% block title %}
	Administration des articles
	{{parent()}}
{% endblock %}

{% block body %}
	<section class="container mt-2">
		<h1 class="text-center">Administration des articles</h1>
		<a href="{{path('admin.articles.create')}}" class="btn btn-warning">Créer un article</a>
		<div class="card-list mt-2">
			{% for article in articles %}
				<div class="blog-card">
					<div class="blog-card-content">
						<h2 class="blog-card-header">{{ article.title|slice(0, 20) ~ '...'}}</h2>
						<p>
							<strong>Ecrit par :
							</strong>
							{{ article.user.fullName() }}</p>
						<p>
							<strong>Description :
							</strong>
							{{article.description|slice(0, 20) ~ '...'}}</p>
						<p>
							<strong>Actif :
							</strong>
							{{ article.enable ? "Oui" : "Non" }}</p>
						<p>
							<strong>Créé le :
							</strong>
							{{article.createdAt|format_datetime('short', 'none', locale='fr')}}</p>
						<p>
							<strong>Modifié le :
							</strong>

							{{article.updatedAt ? article.updatedAt|format_datetime('short', 'none', locale='fr') : "Pas encore de modif"}}</p>
						<div class="blog-card-btn">
							<a href="{{ path('admin.articles.edit', {slug: article.slug}) }}" class="btn btn-warning">
								<i class="bi bi-pencil-square"></i>Modifier</a>

							{% include "Backend/Articles/_deleteForm.html.twig" %}
						</div>

					</div>
				</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}
